<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/css/normalize.css">
    <link rel="stylesheet" href="/public/css/app.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet"> 
    <title>Mercado Liebre</title>
</head>

<body>

<header>
        <div class="top-header">
            <div class="logo">
               <a href="/views/index.html"> <img src="/public/img/logo-mercado-liebre.svg"/></a>
            </div>
            
            <div class="form">
                <input class="formulario" type="search" placeholder="productos, marcas y más">
                <button class="boton"><i class="fa fa-search"></i></button>
            </div>
            <div class="header-paragraph">
              <p><i class="fas fa-hand-holding-usd"></i>Comprá en cuotas y sin tarjeta de crédito</p>  
            </div>
        </div>
 
        <nav class="nav-container">
            <ul class="navegador1">
                <li><a href="#">Ofertas</a></li>
                <li><a href="#">Tiendas Oficiales</a></li>
                <li><a href="#">Vender</a></li>
                <li><a href="#">Ayuda</a></li>
            </ul>
            <ul class="navegador2">
                <li><a href="/views/formulario.html">Creá tu cuenta <i class="fas fa-address-card"></i></a></li>
                <li><a href="/views/login.html">Ingresá <i class="fas fa-sign-in-alt"></i></a></li>
                <li><a href="#">Mis compras <i class="fas fa-shopping-cart"></i></a></li>
            </ul>
        </nav>
        <div class="burger-menu">
            <i class="fa fa-bars burger"></i>
        </div>

</header>

<main>
    <div class="banner">
        <img src="/public/img/img-home-banner.jpg" alt="Banner de ofertas">
    </div>


    <div class="pagelogin">
        <div class="formulario-contenedor">
        <form action="/views/index.html" method="#" class="contenedor-login"> 

            <label for="usuario" class="login__user">
                <input type="text" class="username" name="username" placeholder="Ingresar Usuario" required autofocus="" />
            </label><br>

            <label for="password" class="login__password">
                <input type="password" class="password" name="password" placeholder="Ingresar Contraseña" required/>
            </label><br>

            <button class="bottonSudmit" type="submit">Login</button>   
        </form>
        </div>
    </div>

</main>

<footer>
    <section class="footer">
        <div>
            <i class="far fa-credit-card"></i>
           <h4>Pagá con tarjeta o en efectivo</h4>
            <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!</p>
        </div>
        <div>
            <i class="fas fa-gift"></i>
            <h4>Envío gratis desde $ 2.500</h4>
            <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de Mercado Puntos.</p>
        </div>
        <div>
            <i class="fas fa-user-shield"></i>
            <h4>Seguridad, de principio a fin</h4>
            <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer, porque estás siempre protegid@.</p>
        </div>
    </section>
   <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p> 
</footer>

</body>
</html>